# Pycharm files
.vscode/
.idea/
__pycache__/
*.py[cod]
*.egg-info/

# poetry
poetry.lock

# Secrets
.env

# Unit test files
.coverage
.coverage.*
.cache
.pytest_cache/

# mypy files
.mypy_cache/
.pylint.d/
.ruff_cache/

# Probable environments files
.venv/
env/
venv/

# Packaging
build/
dist/

# Logs
*.log
logs/

# Operating systems
.DS_Store
Thumbs.db



