# Pycharm files
.idea/

# poetry
poetry.lock

# Unit test files
.coverage
.coverage.*
.cache
.pytest_cache/

# mypy files
.mypy_cache/

# Probable environments files
.env
.venv
env/
venv/




